<div class="marketplace">
  <mat-card class="marketplace-card mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>
        Průměrná půjčka dle zvoleného ratingu
      </mat-card-title>
    </mat-card-header>
    <hr/>
    <mat-card-content>

      <mat-grid-list [cols]="breakpoint" rowHeight="1:0.5" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let marketplace of allTypeMarketplaces">
          <button routerLink="/{{marketplace.key}}" mat-stroked-button color="#ffee58" class="marketplace-button">
            <a class="marketplace-link-button" routerLink="/{{marketplace.key}}">{{marketplace.value}}</a>
          </button>
        </mat-grid-tile>
      </mat-grid-list>

      <p class="center-text">
        Průměrná půjčka pro zvolený rating: <b *ngIf="marketplaceValue">{{marketplaceValue.value}}</b>
      </p>

      <mat-spinner class="center" color="warn" *ngIf="(isUpdating$ | async); else showPrice"></mat-spinner>
      <ng-template #showPrice>
        <h1 class="center-text average-market">{{formattingToCzechCurrency(averagePrice$ | async)}}</h1>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>
