.marketplace {
  margin-left: 16px;
  margin-right: 16px;

  .marketplace-card {
    max-width: 950px;
    min-height: 300px;
    margin: 50px auto;
    padding-left: 16px;
  }

  .center-text{
    text-align: center;
  }

  .center{
    margin: 0 auto;
  }

  .marketplace-link-button{
    color: rgba(0,0,0,.87);
    text-decoration: none;
  }

  .mat-stroked-button {
    padding: 0 7px;
    line-height: 28px;
  }
}
